*{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #222;
}
html, body{
    margin: 0;
    height: 100vh;
    text-align: center;
    background-image: url(./img/fondo.jpg);
    background-position: 40% 30%;
    background-attachment: scroll;
    background-size: cover;
}
.header{
    background-image: url(./img/hero.jpeg);
    background-repeat: no-repeat;
    background-position: 40% 30%;
    background-attachment: scroll;
    background-size: cover;
    height: 40vh;
    margin: 0;
    padding-top: 60vh;
}



.heading {
    color: #ffffff;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: 6em;
    font-weight: normal;
    text-shadow: 0 0 10px #000;
}
.heading-subtext{
    color: #fff;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: .6em;
}
.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 2.4em;
    font-size: 16px;
}
.sub-heading{
    font-family: 'Caveat', cursive;
    font-size: 3em;
    margin-top: 2em;
}
.details{
    margin: 0 auto 8em;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}
.fas {
    font-size: 3em;
    opacity: .8;
}
.resort-image{
    width: 100%
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .galeria-imagenes {
    margin-top: 20px;
  }
  
  .imagen-container {
    margin-bottom: 20px;
  }
  
  .imagen-container img {
    width: 100%; /* Ajusta este valor según necesites */
    border-radius: 10px;
  }


  #contador {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* Fondo blanco para un look fresco y limpio */
    border: 2px solid #ddd; /* Borde sutil */
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
    color: #333;
    padding: 10px 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  }
  
  .tiempo, .puntos {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Color oscuro para contraste */
    margin: 0 5px; /* Espaciado sutil entre unidades */
  }
  
  .tiempo {
    background-color: transparent; /* Sin fondo para un estilo minimalista */
    padding: 5px 10px; /* Padding reducido para un look compacto */
  }
  
  .puntos {
    font-size: 28px; /* Hacemos los puntos un poco más grandes para estilo */
    color: #bbb; /* Color de los puntos más suave */
  }

/* Estilo base para botones minimalistas modernos */
.btn-moderno {
    background-color: #fff; /* Fondo blanco */
    color: #606060; /* Color de texto gris */
    border: 1px solid #ddd; /* Borde ligero */
    padding: 10px 25px; /* Espaciado interno */
    font-family: 'Quicksand', sans-serif; /* Tipografía */
    font-size: 14px; /* Tamaño de la fuente */
    border-radius: 30px; /* Bordes redondeados para un look más moderno */
    cursor: pointer; /* Cursor en forma de mano */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para color y fondo */
    text-decoration: none; /* Sin subrayado para enlaces */
    display: inline-block; /* Para usar con enlaces */
  }
  
  /* Efecto al pasar el ratón: cambio suave de fondo y color de texto */
  .btn-moderno:hover {
    background-color: #f8f8f8; /* Fondo ligeramente gris */
    color: #505050; /* Texto un poco más oscuro */
  }
  
  /* Efecto al hacer clic en el botón */
  .btn-moderno:active {
    background-color: #e0e0e0; /* Fondo más oscuro */
    border-color: #c0c0c0; /* Borde más oscuro */
  }
  
  .carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-images img {
    width: 100%;
    display: none; /* Oculta todas las imágenes inicialmente */
  }
  
  .carousel-images img:first-of-type {
    display: block; /* Muestra solo la primera imagen */
  }
  
  
  


  /* Mejoras para la responsividad en dispositivos móviles */
  @media (max-width: 600px) {
    .tiempo, .puntos {
      font-size: 20px;
      padding: 3px 6px;
    }
  }
  
  


@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;
    }
  }